
/*
 * GOOGLE FONT
 */
 @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
#the-bar {
    display: flex;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy toàn bộ phần tử */
    max-width: 100%;
    height:auto;
}

.text-container{  /*cha */
    display: flex;
    align-items: center;
}
.left-text {
    position: absolute;
    top: 0px;
    left: 300px;
    color: rgb(9, 214, 98);
    font-size: 15px;
    font-weight: 700;
}

.right-text{
    position:absolute;
    top: 0px;
    right: 50px;
    font-size: 15px;
    color: rgb(9, 214, 98);
    font-weight: 700;
}

.icon_map{
    content: url(assets/icon_map.png);
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.icon_phone{
    content: url(assets/icon_phone.png);
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.logo{
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1; /* Đảm bảo logo hiển thị trên cùng */
}
.logo img{
    width: 80%;
}
.navbar {
    display: flex;
    align-items: center; /* Để cân giữa theo chiều dọc */
}

.menu {
    display: flex; /* Đặt menu ngang */
    margin-left: 150px;
}

.menu ul {
    list-style: none; /* Loại bỏ dấu chấm trước các mục menu */
    display: flex; /* Đặt các mục menu ngang */
}

.menu li {
    margin-right: 30px; /* Khoảng cách giữa các mục menu */
}

/* Điều chỉnh kiểu hiển thị và căn chỉnh văn bản trong các mục menu */
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 15px;
}
.icon_giohang{
    content: url(assets/gio_hang.png);
    width: 35px;
    height: 35px;
    margin-left: 200px;
    margin-right: 5px; /* Điều chỉnh khoảng cách giữa biểu tượng và chữ */
}

.horizontal-line{
    border:1px solid #ab5454;
    margin: 1px 20px;
    width: 100%; /*đọo rộng bằng 100% trang web*/
}
/* Bố trí phần main sử dụng Flexbox */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Phần nội dung chính chiếm nhiều nhất */
.main-content {
    flex: 2; /* Chiếm 2 phần trên tổng 3 phần */
    margin-left: 200px;
}

/* Phần mục lục theo chiều dọc */
.sidebar {
    flex: 1; /* Chiếm 1 phần trên tổng 3 phần */
}



/*---------BODY------------*/
/* Thiết kế mỗi bài viết */
.article {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.article a img {
    float: left; /* Đặt hình ảnh sang trái */
    margin-right: 30px; /* Tạo khoảng cách giữa hình ảnh và nội dung */
}

.article img {
    width: auto;
    height: auto;
    border-radius: 10px;
}

.article-content {
    flex: 1;
}
.article a{
    text-decoration: none;
    color: #333;
}

.article h4{
    margin: 0;
}
.article a:hover{
    color: rgba(0, 0, 0, 0.5);
}

#time-blog{
    font-size: 10px;
    color: #999;
}
#content-blog{
    font-size:90%;
    color: black;
}
/* Điều chỉnh kiểu hiển thị và căn chỉnh mục lục */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}




/*--------pagination------*/
.pagination {
    display: flex;
    align-items: center;
    background: #fff;
    color: #625e5e;
    padding: 10px 20px; /* Giảm padding để làm cho phần pagination ngang hơn */
    border-radius: 6px;
}

.pagination ul {
    display: flex;
    margin: 20px 20px;
    padding: 0;
}

.pagination ul li {
    margin: 0 8px; /* Giảm khoảng cách giữa các ô phân trang */
    display: inline-block;
    background: rgb(237, 236, 236);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
}

.pagination ul li a {
    display: inline-block;
    background: #ccc;
    width: 100px; /* Giảm kích thước của mỗi ô phân trang */
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px; /* Increase the font size to 60px or any value you prefer */
    font-weight: 500;
    line-height: 30px;
    color: #383838;
    text-decoration: none;
}


.pagination .btn1,
.pagination .btn2 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #383838;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn1 img,
.btn2 img {
    width: 17px; /* Giảm kích thước của biểu tượng hình ảnh */
    margin-right: 8px;
    margin-left: 8px;
}
.btn2 img{
    transform: rotate(180deg);
}

.pagination ul li.active {
    color: #fff;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
}


/*table of contents*/

.table-of-contents{
    margin-right: 200px;
    line-height: 1.7;
}


.table-of-contents a:hover{
    color:rgba(0, 0, 0, 0.5)
} 

aside.table-of-contents .main-section .sub-sections a {
    color: black; 
}

aside.table-of-contents .main-section a {
    color: orange; 
}



/* --------------------------------------Footer------------------------------------------ */
#footer {
    width: 100%;
    height: 250px;
    background-color: #CCCCCC;
}

.footer__info {
    height: 70%;
    display: flex;
    
}

.footer__logo-img {
    width: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 36px;
}

.footer__info-icon {
    margin-top: 4px;
    font-size: 16px;
    padding: 4px;
}

.footer__info-item {
    flex: 1;
    height: 100%;
}

.footer__info-item h4 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.footer__info-item li {
    list-style: none;
    
}

.footer__info-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 12px;
}


.footer__location,
.footer__call {
    margin-top: 4px;
}

.footer__location-icon,
.footer__call-icon {
    min-width: 16px;
    margin: 0 4px
}

.line-sereprate {
    margin: auto;
    width: 95%;
    border: 1px solid #555;
}
.footer__address {
    height: 30%;
    text-align: center;
}

.address-info {
    font-size: 12px;
}
