/* --------------------------------------General------------------------------------------ */
body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #191919;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.div {
    display: block;
}

img {
    max-width: 300px;
    max-height: auto;
}


/* --------------------------------------top bar------------------------------------------ */
.row {
    display: flex;
    background-color: rgb(233, 201, 133);
    justify-content: space-around;
    font-size: 15px;
    height: 30px;
    align-items: center;
    justify-self: center;
}

.topBarIcon {
    width: 20px;
    height: auto;
}


/* --------------------------------------header------------------------------------------ */
.nav-links {
    font-size: 0.7em;
}

.clearfix {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 2em;
}

.clearfix li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_child {
    display: flex;
    justify-content: space-around;
    align-items:start;
}

.navbar {
    /* display: block; */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.logo {
    width: 50px;
    height: auto;
}

.cartIcon {
    max-width: 100%;
    height: 20px;
}

.product-menu {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.873);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #ffffff;
    color: black;
}

.product-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.product-menu a:hover {
    color:rgb(213, 146, 0);
}

.product-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-menu li {
    border-bottom: 0px solid #ddd;
}

/* Chỉnh vị trí bảng xuất hiện */
.menu-item:hover .product-menu {
    top: 99%;
    right: 0;
    display: block;
    width: 100%;
}

.product-menu .menu_title {
    text-decoration: underline;
    font-size: 1.2em;
}

header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

#searchInput {
    align-self: center;
    height: 25px;
    margin-right: 7px;
    border-color: rgba(174, 174, 174, 0.415);
    border-width: 0.01cap;
    border-radius: 2%;
    background-color: white;
}

#searchInput:focus {
    outline: none;
}

/* --------------------------------------Main------------------------------------------ */
/* --------------------------------------Banner Home------------------------------------------ */
.banner_home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerPic {
    max-width: 100%;
    max-height: 500px;
}

.top_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rcm_menu {
    grid-column: 1;
    margin: 10px 10px 10px 10px;
}

.mainMenuPic {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.aside_menu {
    grid-column: 2;
    margin: 10px 10px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.asideItemPic {
    max-width: 150px;
    max-height: auto;
    border-radius: 15px;
}

.menu_item {
    text-align: center;
    font-size: 15px;
}

.bottom_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
}

/* --------------------------------------Sinature------------------------------------------ */
.signature {
    position: relative;
    margin-top: 30px;
}

.signature .signaturePic {
    position: relative;
    max-width: 100%;
    height: auto;
}

.signature .info_block {
    position: absolute;
    top: 0px;
    margin: 17% 0 0 45%;
    width: 55%;
    height: auto;
    font-family: Inter;
    font-size: 2.2vw;
    text-align: left;
    color: #000;
}

.signature_2 {
    position: relative;
    margin-top: 30px;
}

.signature_2 .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
}

.signature_2 .info_block {
    grid-column: 1;
    grid-row: 1;
    margin: 20% 20% 5% 10%;
}

.signature_2 .img_block {
    grid-column: 2;
    grid-row: 1;
}

.signature_2 .signaturePic {
    max-width: 100%;
    height: auto;
}

.signature_2 .info {
    width: 100px;
    height: auto;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    color: #000;
}

/* --------------------------------------Blog Home------------------------------------------ */
.blog_home .container {
    display: relative;
    background-color: rgb(240, 224, 189);
    padding-bottom: 100px;
}

.blog_home_title {
    text-align: center;
    padding-top: 30px;
}

.blog_home_blogtitle {
    font-size: 24px;
    margin: 24px 0 24px 24px;
    padding-left: 12px;
    border-left: 4px solid #E57905;
}

.blog_list {
    display: flex;
    flex-wrap: wrap;
}

.blog_list_item {
    display: block;
    max-width: 600px;
    margin: 0px 0px 15px 40px;
}

.blog_list_item img {
    max-width: 420px;
    width: 100%;
    height: auto;
}

/* --------------------------------------Footer------------------------------------------ */
#footer {
    width: 100%;
    height: auto;
    background-color: #CCCCCC;
}

.footer__info {
    height: 70%;
    display: flex;

}

.footer__logo-img {
    width: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 36px;
}

.footer__info-icon {
    margin-top: 4px;
    font-size: 16px;
    padding: 4px;
}

.footer__info-item {
    flex: 1;
    height: 100%;
}

.footer__info-item h4 {
    margin-top: 12px;
    margin-bottom: 4px;
}

.footer__info-item li {
    list-style: none;

}

.footer__info-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 12px;
}


.footer__location,
.footer__call {
    margin-top: 4px;
}

.footer__location-icon,
.footer__call-icon {
    min-width: 16px;
    margin: 0 4px
}

.line-sereprate {
    margin: auto;
    width: 95%;
    border: 1px solid #555;
}

.footer__address {
    height: 30%;
    text-align: center;
}

.address-info {
    font-size: 12px;
}