:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(213, 146, 0);
    --border-color: #dbdbdb;

    --header-height: 80px;
    --header-info-height: 30px;
    --header-navbar-height: calc(var(--header-height) - var(--header-info-height))
}

* {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.text-center {
    text-align: center !important; 
}

.text-left {
    text-align: left !important;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    padding-left: -10px;
    padding-right: -10px;
}

/* test */
.grid__column-2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 16,6667%;
}

.grid__column-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 83.3333%;
}

.grid__column-4-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
}

.grid__column-3-10 {
    padding-left: 10px;
    padding-right: 10px;
    width: 33,3333%;
}

.grid__col-half {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

.grid__col-full {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}